<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if all_question %}
    <ul>
        {% for question in all_question %}
            <li><a href="{% url 'polls:detail' question.id %}">{{question}}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No questions posted </p>
    {% endif %}

</body>
</html>